
@model TPLOCAL1.Models.FormulaireModel
@Html.ValidationSummary(false,"")
   
<head>
    
    <title>Formulaire</title>
    <link rel="stylesheet" href="/css/formulaire.css" />
</head>
<body>
    <header>
        <img src="/img/GroupeHN.png" class="image" alt="GroupeHN" />
        <h1>Formulaire TP HN avis</h1>
    </header>
    <nav>
        <ul>
            <li><a href="/">Accueil</a></li>
            <li><a href="ListeAvis">Liste avis</a></li>
        </ul>
    </nav>
   <section>
    <form method="post"  asp-action="ValidationFormulaire" asp-controller="Home">
   <table>
          <thead>
                <th colspan="2">Informations personnelles</th>
         </thead>
        <tbody>
            <tr>
                <td><label >Nom</label></td>
                            <td>
                            <input type="text" asp-for="nom" pattern="[a-zA-Z]*" oninvalid="this.setCustomValidity('Entrer un nom sans accent')"
                                   oninput="setCustomValidity('')" required>
                    <span asp-validation-for="nom" class="text-danger"></span>   
                </td>
                
            
            </tr>
            <tr>
                <td><label for="prenom">Prénom</label></td>
                        <td>
                            <input type="text" asp-for="prenom" pattern="[a-zA-Z]*" oninvalid="this.setCustomValidity('Entrer un prénom sans accent')"
                                   oninput="setCustomValidity('')" required>
                        </td>
               
            </tr>
            <tr>
                <td><label asp-for="sexe" >Sexe</label></td>
                <td>
                            <select asp-for="sexe" name="sexe" id="sexe" required>
                    <option value="" disabled selected>Sélectionner un sexe</option>
                        <option value ="Homme">Homme</option>
                        <option value="Femme">Femme</option>
                        <option value="Autre">Autre</option>
                            </select>
                </td>
            </tr>
            <tr>
                <td>
                <label asp-for="adresse">Adresse</label>
                </td>
                        <td><input type="text" asp-for="adresse" minlength = "7" required></td>
            </tr>
            <tr>
                <td>
                <label asp-for="codeP">Code Postal</label>
                </td>
                        <td><input type="text" asp-for="codeP" maxlength="5" pattern="^([0-9]{5})$" autocomplete="postal-code" required></td>
            </tr>
            <tr>
                 <td>
                <label asp-for="ville">Ville</label>
                </td>
                        <td><input type="text" asp-for="ville" name="ville" id="ville" pattern="[a-zA-Z]*" required></td>
            </tr>
             <tr>
                <td>
                <label for="mail" >Adresse mail</label>
                 </td>
                <td>
                            <input type="email" asp-for="mail" name="mail" id="mail" required />
                </td>
             </tr>
                </tbody>
    </table>
    <table>
        <thead><th colspan="2">Informations formation suivie</th></thead>
        <tbody>
        <tr>
            <td><label for="dateDeb">Date début de formation</label></td>
                        <td><input type="date" max="2020-12-31" asp-for="dateDeb" value="2020-12-31" required /></td>
        </tr>
        <tr>
            <td><label for="typForm">Type de Formation</label></td>
            <td>
                            <select name="typForm" id="typForm" required>
                    <option value="" disabled selected>Sélectionner une formation</option>
                    <option value="COBOL">Formation Cobol</option>
                    <option value="Objet">Formation Objet</option>
                    <option value="Double compétence">Formation double compétence</option>
                </select>
            </td>
        </tr>
                </tbody>
    </table>
    <table>
        <thead><th colspan="2">Avis sur la formation</th></thead>
       <tbody>
        <tr>
            <td><label asp-for="cobolForm">Formation COBOL</label></td>
            <td><input type="text" asp-for="cobolForm" /></td>
        </tr>
        <tr>
            <td><label asp-for="objetForm">Formation Objet</label></td>
            <td><input type="text" asp-for="objetForm" /></td>
        </tr>
      </tbody>
    </table>
       <button class="btn btn-primary text-center" type="submit" formmethod="post">Validation</button> 
    </form>
    </section>
    </body>
